{{!< layout}}
<header class="aui-page-header">
  <div class="aui-page-header-inner">
    <div class="aui-page-header-main intro-header" align="center">
      <h3 align="left">This is the basic panel</h3>
    </div>
  </div>
</header>