{{!< layout}}
<header class="aui-page-header">
  <div class="aui-page-header-inner">
    <div class="aui-page-header-main intro-header" align="center">
      <h2 align="left">Some advanced time tracking related features would go here</h2>

      <p class="subtitle" align="left" style="font-size: 15px;">And here, probably</p>
    </div>
  </div>
</header>